<ion-view title="SingSong">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <input type="email" placeholder="Email">
            </label>
        </form>
        <form class="list">
            <label class="item item-input">
                <input type="password" placeholder="Password">
            </label>
        </form>
        <a href="#/page3" class="button button-balanced button-block button-large">Login</a>
        <a href="#/page2" class="button button-balanced button-block button-large">Sign Up</a>
        <form class="list"></form>
    </ion-content>
</ion-view>