<ion-view title="Main">
	<ion-nav-buttons side ="right">
        <a ng-click="profilePage()" class="button button-icon icon ion-ios-contact" ></a>
    </ion-nav-buttons>
<ion-nav-buttons side="left">
        <a class="button button-icon icon ion-upload" ng-click="upload()"></a>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" class="has-header">
      <ion-refresher pulling-text="Pull to refresh..." on-refresh="getSongs()"></ion-refresher>
    <ion-list>
        <ion-item ng-repeat="song in songs" class="button-large icon-left ion-ios-play" ng-click="voteAndComment(song)">
            {{song.attributes.title}}
        </ion-item>
  </ion-list>
    </ion-content>
</ion-view>
