<ion-view title="Main">

	<ion-nav-buttons side ="right">
        <a href="#/page4" class="button button-icon icon ion-ios-contact" ></a>
    </ion-nav-buttons>

    <ion-nav-buttons side ="left">
        <a href="" class="button button-icon icon ion-mic-c" ></a>
    </ion-nav-buttons>

    <ion-content overflow-scroll="true" padding="true" class="has-header">

    

        <form class="list">
            <ion-list>
            <ion-item class="button-large icon-left ion-ios-play"> Song 1</ion-item>
            <ion-item class="button-large icon-left ion-ios-play"> Song 2</ion-item>
            <ion-item class="button-large icon-left ion-ios-play"> Song 3</ion-item>
            <ion-item class="button-large icon-left ion-ios-play"> Song 4</ion-item>
            <ion-item class="button-large icon-left ion-ios-play"> Song 5</ion-item>
            <ion-item class="button-large icon-left ion-ios-play"> Song 6</ion-item>
            <ion-item class="button-large icon-left ion-ios-play"> Song 7</ion-item>
            <ion-item class="button-large icon-left ion-ios-play"> Song 8</ion-item>
            <ion-item class="button-large icon-left ion-ios-play"> Song 9</ion-item>
        </ion-list>
        </form>
    </ion-content>
</ion-view>