<ion-view title="Profile">

    <ion-nav-buttons side ="left">
        <a href="#/page3" class="button button-icon icon ion-android-home" ></a>
    </ion-nav-buttons>

    <ion-nav-buttons side ="right">
        <a href="#/page1" class="button button-icon icon ion-android-walk "></a>
    </ion-nav-buttons>
    

    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <button class="button button-balanced button-block ">Message Me! :)</button>
        <button class="button button-assertive button-block ">Block Me! :(</button>
        <h1>USERNAME</h1>
        <div>
            <p>Hello my name is
                <strong>(insert name here)</strong>and I have been using
                <strong>(insert name of app here)</strong>for 3 months.</p>
        </div>
        <ion-list>
            <ion-item>Song1</ion-item>
            <ion-item>Song 2</ion-item>
            <ion-item>Song 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>