<ion-view title="Profile">

    <ion-nav-buttons side ="left">
        <a ng-click="backToMain()" class="button button-icon icon ion-android-home" ></a>
    </ion-nav-buttons>

    <ion-nav-buttons side ="right">
        <span class="button button-icon icon ion-android-exit ion-android-walk" ng-click="logout()">
            <a href="" class="button button-icon icon ion-android-exit"></a>
        </span>
    </ion-nav-buttons>
    

    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <button class="button button-balanced button-block ">Message Me! :)</button>
        <button class="button button-assertive button-block ">Block Me! :(</button>
        <h1>{{usernames}}</h1>
        <div>
            <p ng-repeat="people in users">Hello my name is
                <strong>{{people.name | uppercase}}</strong> and I have been using
                <strong>{{people.appName}}</strong> since {{people.time | date:'longDate':-0500}}.</p>
        </div>
        <ion-list>
            <ion-item ng-repeat="song in mySongs" class="button-large icon-left ion-ios-play">
            <a ng-click="voteAndComment(song)" style="color: black;background-color: transparent; text-decoration: none;">{{song.attributes.title}}</a>
        </ion-item>
        </ion-list>
    </ion-content>
</ion-view>