<ion-view title="Signup">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <input type="text" placeholder="Name" ng-model="user.username">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Email" ng-model="user.email" required>
                </label>
                <!-- <div role="alert">
                    <span class="error" ng-show="myForm.email.$error.required">
                        Required!</span>
                </div> -->
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="user.password" required>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Confirm Password" ng-model="user.conf_password" required>
                </label>
            </ion-list>
            <a class="button button-balanced button-block" ng-click="signupEmail()">Sign up</a>
        </form>
    </ion-content>
</ion-view>